
/* Restraunt Section */
.restaurants{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fbfbfb;
  }
  
  .bc{  
    background-color: #FBFBFB;
    width: 90%;
  }
  .restaurants h8 {
    font-size: 2em;
    color: black;
    font-weight: bolder;
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 1080px;
  }
  .restaurants-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px; 
  }